################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs/FinancialCrm/copilot-chat/43cbc5a8/sessions/7e05e33f-ff2d-4499-a61d-31b6128d5f3b
.vs/ 
